*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#ff758c,#ff7eb3);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    overflow-x:hidden;
    color:white;
}

.container{
    width:100%;
    max-width:700px;
    text-align:center;
    z-index:2;
    padding-bottom:100px;
}

.screen{
    display:none;
}

.screen.active{
    display:block;
}

h1,h2{
    margin-bottom:20px;
}

p{
    margin-bottom:15px;
    line-height:1.7;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:white;
    color:#ff4f81;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    transform:scale(1.05);
}

pre{
    background:rgba(0,0,0,0.25);
    padding:20px;
    border-radius:15px;
    text-align:left;
    overflow-x:auto;
    margin-top:20px;
}

#terminal{
    background:black;
    color:#00ff00;
    text-align:left;
    padding:20px;
    border-radius:15px;
    min-height:250px;
    font-family:monospace;
}

.hidden{
    display:none;
}

.heart{
    position:absolute;
    animation:fall linear forwards;
}

@keyframes fall{
    from{
        transform:translateY(-100px);
    }

    to{
        transform:translateY(110vh);
    }
}

@media(max-width:768px){

    h1{
        font-size:2rem;
    }

    p{
        font-size:16px;
    }

    pre{
        font-size:13px;
    }
}

#musicaPrincipal{
    margin-top: 40px;
}

#playlist{
    margin-top: 40px;
}

#mensagemFinal{
    margin-top: 40px;
}
